# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet @karalabe
consensus          @karalabe
core/              @karalabe @holiman
eth/               @karalabe @Pipesan82998114 
les/               @zsfelfoldi
light/             @zsfelfoldi
mobile/            @karalabe
p2p/               @fjl @zsfelfoldi
whisper/           @gballet @gluk256
